/* You can add global styles to this file, and also import other style files */
$bgColor: #131722;
$lightBgcolor: #24baef;
$bgTransparent: #09c;
$fontColor: #fff;
$borderColor: #a8a8a83d;
$borderLight: 1px;
$secondFontColor: #949cb0;